html{
    font-size: 14px;
}
body{
    background-image: radial-gradient(#128a52 0.2px, #05c46b 0.2px);
    background-size: 4px 4px;
    font-family: sans-serif;
    color:rgb(70, 70, 70);
    text-align: center;
}
form{
    background-color: #fffffff6;
    margin: auto;
    max-width: 50%;
    padding: 2%;
    box-shadow: 2px 5px 8px #0000007c;
}
.question{
    text-align: left;
    margin-bottom: 3%;
}
.question label, 
p{
    display: block;
    margin-bottom: 1%;
    width: auto;
}
.question input,
.question select,
.question textarea{
    border: 1px solid #919191;
    margin: 0 0.5%;
    padding: 1%;
    width: 95%;
    font-size: .8rem;
}
fieldset{
    border: none;
    padding: 1% 0;
}
.question fieldset div *{
    width: auto;
    display:inline-block;
}
button {
    background-image: radial-gradient(#128a52 0.2px, #05c46b 0.2px);
    background-size: 4px 4px;
    border: 1px solid #777;
    /*border-radius: 2px;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;*/
}